format = """
$directory\
$git_branch\
$git_status\
$golang\
$line_break\
$character"""

[directory]
style = "bold blue"
truncate_to_repo = true

[git_branch]
symbol = " "
style = "bold magenta"

[golang]
symbol = "go "
style = "bold cyan"
format = "[$symbol($version )]($style)"

[character]
success_symbol = "[λ](bold green)"
error_symbol = "[λ](bold red)"
